@font-face {
  font-family: 'UoqMunThenKhung';
  src: url('./fonts/UoqMunThenKhung-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  text-align: center;
  font-family: 'UoqMunThenKhung', sans-serif;
}
.Imagen1{
  width: 150px;
  height: 150px;
  border: 3px solid #009688;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}
.Seccion1{
  background-color: aquamarine;
  border: 3px solid #009688;
  border-radius: 16px;
  width: 300px;
  margin: 0 auto; 
  display: inline-block; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}
body{
  background-color: #f0f0f0;
  padding-top: 50px;
}
